@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2"),
    url("../../fonts/Open_Sans/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/Open_Sans/OpenSans-Bold.woff2") format("woff2"),
    url("../../fonts/Open_Sans/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
    url("../../fonts/Roboto/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
    url("../../fonts/Roboto/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
    url("../../fonts/Roboto/Roboto-Bold.woff") format("woff");
}
