/* GLOBAL */
@import "./common/reset-src.scss";
@import "./common/variables.scss";
@import "./common/global.scss";
@import "./common/fonts.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/container.scss";
@import "./blocks/select.scss";
@import "./blocks/room.scss";
@import "./blocks/btn.scss";
