.container {
  box-sizing: border-box;
  max-width: $desktop-width - 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
