.page {
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $white;
  background-color: $black;
  scroll-behavior: smooth;

  &__body {
    display: grid;
    grid-template: 1fr / 1fr;
    justify-content: center;
    align-items: center;
    min-block-size: 100vh;
    background: $gradient3, url("../../images/background/background@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    @media (min-width: $desktop-width) {
      background-position: bottom center;
    }
  }
}
