.select {
  margin: 24px 0 49px;

  @media (min-width: $tablet-width) {
    margin: 27px 0 39px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;

    @media (min-width: $tablet-width) {
      margin-top: 26px;
      display: flex;
      flex-flow: row wrap;
      align-items: stretch;
      justify-content: center;
      gap: 37px 28px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 27px;
      gap: 37px 32px;
    }
  }

  &__title {
    font-family: $font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: center;
    color: $black;

    @media (min-width: $tablet-width) {
      font-weight: 500;
      font-size: 36px;
      line-height: 153%;
    }
  }

  &__item {
    margin: 0;
  }

  @media (max-width: $mobile-width-only) {
    &__item {
      &:not(:first-child) {
        margin-top: 32px;
      }
    }
  }
}
